.container{
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px rgb(197, 162, 138) solid;
}

h4{
    font-weight: bold;
}

.price{
    color: var(--orange);
    font-weight: bold;
}