.container{
        justify-content: space-evenly;
          border-radius: 6px;
          background-color: rgb(254, 228, 233);
          background-color: var(--light-pink);
          display: flex;
          flex-direction: row;
          text-align: center;
          padding: 1rem;
          border-radius: var(--br-point-border-radius) ;
          margin: 1rem;
      }

      .section{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .hours{
        font-size: var(--font-size-lg);
      }

      @media only screen and (min-width: 768px) {
        .container{
          justify-content: space-evenly;
        }
        .column{
          width: 25%;
        }
        .container p{
          font-size: x-large;
        }
        .container a{
          font-size: x-large;
        }
      }